body
{
    padding: 0;
    margin : 0;
    background: #E8E8E8;
    font-family: Tahoma;
    font-size: 12px;
}

a
{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

input
{
    border: #B9B9B9 1px solid;
    color: #B9B9B9;
    height: 25px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

input:focus
{
    color: #000;
    border: #878787 1px solid;
}

input[type=submit],[type=button],input.button
{
  color:#888;
  border-color:#ddd;
  background:#f0f0f0;
  cursor:pointer;
  padding:3px;
  height:35px;
  width:120px;
}

input[type=submit]:hover,[type=button]:hover,input.button:hover
{
  background-color:#e6e6e6;
  border-color:#d6d6d6;
}

.header
{
  position: fixed;
  top: 0;
  background: #323232;
  font-weight: bold;
  padding: 7px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,.25);
  box-shadow: 0 2px 3px rgba(0,0,0,.25);
  color: #FFFFFF;
  width: 99%;
}

.header .username
{
    float: right;
    color: white;
    cursor: pointer;
}

.stats
{
    z-index: 9;
    display: none;
    width: 80px;
    height: 150px;
    background: #323232;
    float: right;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0 6px 6px -2px gray;
}

.stats .logout
{
    background-image: url(../../../gallery/logout.png);
    float: right;
    cursor: pointer;
}

.stats .head
{
    display: block;
    width: 99%;
}

.stats input
{
    background: #323232;
    border: none;
    color: white;
    font-size: 12px;
    margin: 0;
    width: 99%;
}

.gap
{
    display:block;
    height: 100px;
}

.center
{
    margin: auto;
}

.news
{
    display: block;
    box-shadow: 0px 4px 4px #D7D7D7;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 20px;
    border: solid #CCCCCC 1px;
    width: 100%;
    float: left;
}

.list-item
{
    border-top: 1px solid #CCCCCC;
}

.footer
{
    border-top: solid #D4D4D4 1px;
    background: #E8E8E8;
    min-height: 30px;
    background-position: bottom center;
    position: fixed;
    bottom: 0px;
    width: 99%; 
    padding: 3px;
    margin: 0;
    height: 30px;
}

.message
{
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
    font-weight: bold;
}

.red
{
    background-color: #FFEBE8;
    border: 1px solid #DD3C10;
}

.link
{
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.online
{
    float: right;
}

.advertisement
{
    display: block;
    box-shadow: 0px 4px 4px #D7D7D7;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 20px;
    border: solid #CCCCCC 1px;
    width: 100px;
}

.container
{
    display:block;
    margin: auto;
    width: 53%;
}

.me-box
{
    display: block;
    box-shadow: 0px 4px 4px #D7D7D7;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 20px;
    border: solid #CCCCCC 1px;
    width: 20%;
    float: right;
}

.box
{
    display: block;
    box-shadow: 0px 4px 4px #D7D7D7;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    border: solid #CCCCCC 1px;
    width: 40%;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

.box .title
{
    display: block;
    color: white;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #323232;
    padding: 7px;
    box-shadow: 0 3px 3px -2px gray;
    
}

.plate
{
    background:url(../../../gallery/info_habbo_plate.png) no-repeat 2px -162px;
    height:138px;
    width:96px;
    position:relative;
    left:15px;
    float:left;
}

.plate:hover
{
    background-position:2px 75px;
}

#user
{
    padding-left:13px;
}

.me-characters
{
    bottom: 0;
    right: 0;
}

.news-container
{
    display: block;
    float: left;
    width: 50%;
}

.news-marquee
{
    display: inline-block;
    float: right;
    width: 40%;
}

.news-marquee .title
{
    font-style: italic;
    font-size: 18px;
    color: #3D3D3D;
}

#icon-left
{
    display: inline-block;
    background: url(../../../gallery/icon-left.png) 0 0 no-repeat;
    width: 21px;
    height: 21px;
}

#icon-left:hover
{
    background: url(../../../gallery/hover-icon-left.png) 0 0 no-repeat;
}

#icon-right
{
    display: inline-block;
    background: url(../../../gallery/icon-right.png) 0 0 no-repeat;
    width: 21px;
    height: 21px;
}

#icon-right:hover
{
    background: url(../../../gallery/hover-icon-right.png) 0 0 no-repeat;
}
