body
{
    padding: 0;
    margin : 0;
    background: #E8E8E8;
    font-family: Tahoma;
    font-size: 12px;
}

@font-face {
    font-family: Delicious;
    src: url("../../../gallery/Delicious-Bold.otf") format("opentype");
}

input
{
    border: #B9B9B9 1px solid;
    color: #B9B9B9;
    height: 25px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

input:focus
{
    color: #000;
    border: #878787 1px solid;
}

input[type=submit],[type=button],input.button
{
  color:#888;
  border-color:#ddd;
  background:#f0f0f0;
  cursor:pointer;
  padding:3px;
  height:35px;
  width:120px;
}

input[type=submit]:hover,[type=button]:hover,input.button:hover
{
  background-color:#e6e6e6;
  border-color:#d6d6d6;
}

.header
{
  position: fixed;
  top: 0;
  background: #323232;
  font-weight: bold;
  padding: 7px;
  box-shadow: 0 6px 6px -2px gray;
  color: #FFFFFF;
  width: 99%;
}

.gap
{
    display:block;
    height: 100px;
}

.center
{
    margin: auto;
}

.middle-box
{
    display: block;
    min-height: 100px;
    margin: auto;
    box-shadow: 0px 4px 4px #D7D7D7;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 20px;
    border: solid #CCCCCC 1px;
    width:250px;
}

.footer
{
    border-top: solid #D4D4D4 1px;
    padding: 10px;
    background: #E8E8E8;
    min-height: 30px;
    background-position: bottom center;
    position: fixed;
    bottom: 0px;
    width: 100%; 
    padding: 3px;
    margin: 0;
}

.message
{
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
    font-weight: bold;
}

.red
{
    background-color: #FFEBE8;
    border: 1px solid #DD3C10;
}