<!DOCTYPE html>
<html>
    <head>
        <title>{title}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {sulake_system_css}
        {sulake_system_js}

        <script type="text/javascript"> 

            var flashvars = {
                    "client.allow.cross.domain" : "1", 
                    "client.notify.cross.domain" : "0", 
                    "connection.info.host" : "{sulake_client_server_ip}", 
                    "connection.info.port" : "{sulake_client_server_port}", 
                    "site.url" : "{sulake_config_site_path}", 
                    "url.prefix" : "{sulake_config_site_path}/", 
                    "client.reload.url" : "{sulake_config_site_path}client", 
                    "client.fatal.error.url" : "http://retro.cecer1.com/eformat", 
                    "client.connection.failed.url" : "{sulake_config_site_path}failed", 
                    "external.variables.txt" : "{sulake_config_site_path}client/gamedata/external_variables.txt", 
                    "external.texts.txt" : "{sulake_config_site_path}client/gamedata/external_flash_texts.txt",
                    "external.override.texts.txt" : "{sulake_config_site_path}client/gamedata/external_flash_override_texts.txt", 
                    "productdata.load.url" : "{sulake_config_site_path}client/gamedata/productdata.txt", 
                    "furnidata.load.url" : "{sulake_config_site_path}client/gamedata/furnidata.txt",
                    "use.sso.ticket" : "1",
                    "sso.ticket" : "sw-Makarov-1234", 
                    "processlog.enabled" : "0", 
                    "account_id" : "1", 
                    "client.starting" : "Please wait! {sulake_config_name} is starting up", 
                    "flash.client.url" : "{sulake_config_site_path}client.php", 
                    "user.hash" : "31385693ae558a03d28fc720be6b41cb1ccfec02", 
                    "has.identity" : "0", 
                    "flash.client.origin" : "popup"
            };
            var params = {
                "base" : "{sulake_config_site_path}client/gordon/RELEASE63-35255-34886-201108111108/",
                "allowScriptAccess" : "always",
                "menu" : "false"                
            };

            if (!(HabbletLoader.needsFlashKbWorkaround())) {
                params["wmode"] = "opaque";
            }

            var clientUrl = "{sulake_config_site_path}client/gordon/RELEASE63-35255-34886-201108111108/Habbo.swf";

            swfobject.embedSWF(clientUrl, "flash-container", "100%", "100%", "10.0.0", "{sulake_config_site_path}client/flash/expressInstall.swf", flashvars, params);

            window.onbeforeunload = unloading;
            function unloading() {
                var clientObject;
                if (navigator.appName.indexOf("Microsoft") != -1) {
                    clientObject = window["flash-container"];
                } else {
                    clientObject = document["flash-container"];
                }
                try {
                    clientObject.unloading();
                } catch (e) {}
            }

        </script>
    </head>
    
    <body id="client" class="flashclient">
        <div id="overlay"></div>
        <div id="client-ui" style="height:94.5%">
            <div id="flash-wrapper">
                <div id="flash-container">
                <div id="content" style="width: 400px; margin: 20px auto 0 auto; display: none">
                </div>
                <script type="text/javascript">
                    $('content').show();
                </script>
                </div>
            </div>
            <div id="content" class="client-content"></div>
        </div>
        <script type="text/javascript">
                RightClick.init("flash-wrapper", "flash-container");
                if (window.opener && window.opener != window && window.opener.location.href == "/") {
                    window.opener.location.replace("/me");
                }
                $(document.body).addClassName("js");
                    HabboClient.resizeToFitScreenIfNeeded();
        </script>
        <script type="text/javascript">
            HabboView.run();
        </script>
    </body>
</html>