        <div class="middle-box">
            <form action="action.php" method="post" class="loginForm">
                <div class="message red">{error}</div><br>
                <div align="center">
                    <input type="text" name="loginEmail" placeholder="Email" /><br><br>
                    <input type="password" name="loginPassword" placeholder="Password" /><br><br>
                    <div align="right">
                        <input type="submit" name="loginButton" value="Submit" />
                        <input type="button" value="Register" onclick="showRegister();"/>
                    </div>
                </div>
            </form>

            <form action="action.php?do=register" method="post" class="registerForm">
                <div align="center">
                    <div class="message red">Here you can register!</div><br>
                    <input type="text" name="registerEmail" id="registerEmail" placeholder="Email" onkeyup="checkEmail();"/><br><br>
                    <input type="password" name="registerPassword" placeholder="Password" onkeyup="checkPassword(false);"/><br><br>
                    <input type="password" name="registerPassword2" placeholder="Password, Again" /><br><br>
                    <div align="right">
                        <input type="button" value="Back" onclick="showRegister();"/>
                        <input type="submit" name="registerButton" value="Submit" />
                    </div>
                </div>
            </form>
        </div>