<!DOCTYPE html>
<html>
<head>
    <title>sulakeWEB Installer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="./application/views/cascading/index.css" />
</head>
<body>
    <div class="header">sulakeWEB Installer</div>
    <div class="gap"></div>
    <div class="middle-box">
        <form method="post">
            <input type="text" name="db_host" placeholder="Database Host" /><br><br>
            <input type="text" name="db_user" placeholder="Database Username" /><br><br>
            <input type="password" name="db_password" placeholder="Database Password" /><br><br>
            <input type="text" name="db_name" placeholder="Database Name" /><br><br>
            <input type="text" name="system_name" placeholder="Hotel Name" /><br><br>
            <input type="text" name="system_tagline" placeholder="Hotel Tagline" /><br><br>
            <input type="text" name="system_environment" placeholder="System Environment(0-2)" /><br><br>
            <input type="text" name="system_quote" placeholder="Secret Quote" /><br><br>
            <input type="text" name="system_path" placeholder="Site Path(With trailing '/')" /><br><br>
            <div align="right"><input type="submit" value="Submit" id="submit" name="submit" /></div>
        </form>
    </div>
</body>
</html>