<script type="text/javascript" src="./application/views/javascript/jquery.js" ></script>
{sulake_system_css}
<div class="middle-box">
    <form action="" method="POST">
        <center>
            <input type="text" id="first-num" name="first-num" placeholder="First Number" onkeyup="calcMultiples(false);"/><br>
            <div class="first_multiples"></div><br>
            <input type="text" id="second-num" name="second-num" placeholder="Second Number" onkeyup="calcMultiples(true);"/><br>
            <div class="second_multiples"></div><br>
        </center>
    </form>
</div>